.kotak-ocd {
    position:relative;
    height: 150px;
    width: 150px;
    margin: 30px;
    border:1px solid black;
}

.kotak-miring {
    height: 150px;
    width: 150px;
    position: 50px;
    position: absolute;
    background-image: url('img/lukisan.png');
    background-size: cover;
    border: 2px solid white;
    transform: rotate(30deg) translate(50px);
    transform-origin: 30% 80%;
    transition: transform 1s ease-out;
}

.kotak-miring:hover{
    transform: rotate(0deg);
}

.karpet {
    margin-top: 15%;
    position: relative;
    width: 300px;
    height: 100px;
    background-color: rgb(192, 14, 14);
    transition: width 3s;
}

.karpet:hover{
    width : 2px;
}

.bg-pintu {
    margin-top: -30%;
    margin-left: auto;
    height: 400px;
    width: 250px ;
    background-image: url('img/bg-pintu.jpg');
    background-size: cover;
    border: 3px solid black;
}

.pintu {
    height: 400px;
    width: 250px ;
    background-color: white;
    opacity: 30%;
    border: 3px solid black;
    transform: translateX(0px);
    transition: transform 3s ease-out;
}

.pintu:hover{
    transform: translateX(-245px);
}

.meja {
    margin-top: 10%;
    width: 200px;
    height: 150px;
    background-image: url('img/meja.png');
    background-size: cover;
}

.tv {
    margin-top: -17%;
    margin-left: 50px;
    height: 75px;
    width: 85px;
    background-image: url('img/statis.jpg');
    background-size: cover;
    border: 15px solid black;
    transition: background-image 3s ease;
}

.tv:hover {
    background-image: url('img/spongebobo.jfif');
    background-size: cover;
}